.jumbotron{
    background-image: linear-gradient(blue,white);
}

.album-container{
    margin-left: 8%;
    margin-right: 8%;
}

.card{
    margin-left: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 30px;
}